{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "amd": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  rules: {
    "jsx-a11y/href-no-hash": "off",
    "react/prefer-stateless-function": "off"
  }
}
